body{
    margin: 0;
    padding: 0;
}
header{
    top: 0px;
    display:block;
    height: 150px;
    background-color:floralwhite;
    text-align: center;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:inherit;
    
}  
header p{
    margin: 0;
    padding: 20px;
}
header ul{
    padding: 0;
    list-style:none;  
    text-align: center;  
}
header ul li{
    
    display: inline;     
}
header ul li a{
    text-decoration: none;   
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    color: black;
}
.menu-item{
    background-color: floralwhite;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}
.menu-item:hover{
    text-decoration: underline;
}

.vl{
    border-left: 1px solid black ;
    height: 2.6rem;
    display: inline;
    position:relative;
    top: 6.4rem;
}
.Signin-main{
    background-image: url("https://images.unsplash.com/photo-1542296332-2e4473faf563?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGFpcnBvcnR8ZW58MHx8MHx8fDA%3D") ;
}

input[type=text]{
    background-color:floralwhite;
    height: 30px;
    width: 400px;
    border: none;
    border-bottom: 2px solid lightgray; ;
}
input[type=textarea]{
    background-color:rgb(255, 250, 240);
    height: 30px;
    width: 400px;
    border: none;
    border-bottom: 2px solid lightgray; ;
}
input[type=password]{
    background-color:floralwhite;
    height: 30px;
    width: 400px;
    border: none;
    border-bottom: 2px solid lightgray; ;
}

input[type=email]{
    background-color:floralwhite;
    height: 30px;
    width: 400px;
    border: none;
    border-bottom: 2px solid lightgray; ;
}



.form-container {
    width: 500px;
    margin: 20px auto;
    padding: 30px 30px 30px;
    border: 2px solid #ccc;
    background-color:floralwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button[type=submit]{
    height: 50px;
    top: 10px;
    width : 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color:rgba(87, 61, 9, 0.647);
    color: floralwhite;
    border-color: floralwhite;
    border-radius: 5px;
}
input[type=button]{
    height: 50px;
    top: 10px;
    width : 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color:rgba(87, 61, 9, 0.647);
    color: floralwhite;
    border-color: floralwhite;
    border-radius: 5px;
}

footer{
    /*margin-top: 0px;*/
    display:block;
    height: 50px;
    background-color:floralwhite;
    text-align: center;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


/*Home page*/

.Home-page-intro{
    display: block;
    width: 80%;
    height: 50%;
    margin: 20px auto;
    padding: 30px 30px 30px;
    border: 1px solid #000000;
    background-color:floralwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Home-page-intro-heading{
    font-size: 300%;
}
.Home-page-intro-text{
    top: 15%;
    display: inline-block;
    font-size: 150%;
    height:fit-content;
    width:49%;

}
.Home-page-intro-image-container{
    display: inline-block;
    background-image: url("https://static.toiimg.com/thumb/msid-103892975,width-300,height-200.cms");
    margin-left: 10%;
    width: 40%;
}

#home-overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
  }

  #home-overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .home-overlay-destination{
    display: inline;
    position: relative;
    height: 10rem;
    width: 20rem;
  }
